@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui";
*, html {
    box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /*Hide for chrome*/
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* Hide for Edge */
    scrollbar-width: none;  /* Hide for Firefox */
}

